<mat-drawer-container style="width: 100%; height: 100%" hasBackdrop="true">
  <mat-drawer #drawer mode="push">
    <h2>Wirtschaftsregionen</h2>
    <h3>Präsentiert von der 11e</h3>
    <a mat-button (click)="TabIndex = 0">Hannover</a>
    <br>
    <a mat-button (click)="TabIndex = 1">Braunschweig</a>
    <br>
    <a mat-button (click)="TabIndex = 2">Wolfenbüttel-Salzgitter</a>
    <br>
    <a mat-button (click)="TabIndex = 3">Heide (Celle-Soltau)</a>
    <br>
    <a mat-button (click)="TabIndex = 4">Wolfsburg-Gifhorn</a>
    <br>
    <a mat-button (click)="TabIndex = 5">Harz</a>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Wirtschaftsräume - 11e</span>
    <span class="spacer"></span>
    <button (click)="openEdit()" mat-button *ngIf="auth.user$ | async as user;">{{ user.name }}</button>
    <button (click)="openLogin()" mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>


  <mat-tab-group mat-align-tabs="center" class="mat-app-background mat-background-primary" [(selectedIndex)]="TabIndex">
    <mat-tab label="Hannover"><app-wirtschaftsraum raum="Hannover" ></app-wirtschaftsraum></mat-tab>
    <mat-tab label="Braunschweig"><app-wirtschaftsraum raum="Braunschweig"></app-wirtschaftsraum></mat-tab>
    <mat-tab label="Wolfenbüttel-Salzgitter"><app-wirtschaftsraum raum="Wolfenbüttel-Salzgitter"></app-wirtschaftsraum></mat-tab>
    <mat-tab label="Heide(Celle-Soltau)"><app-wirtschaftsraum raum="Heide(Celle-Soltau)"></app-wirtschaftsraum></mat-tab>
    <mat-tab label="Wolfsburg-Gifhorn"><app-wirtschaftsraum raum="Wolfsburg-Gifhorn"></app-wirtschaftsraum></mat-tab>
    <mat-tab label="Harz"><app-wirtschaftsraum raum="Harz"></app-wirtschaftsraum></mat-tab>
  </mat-tab-group>
</mat-drawer-container>
