<h1 mat-dialog-title>Account</h1>
<mat-dialog-content class="mat-typography">
  <div *ngIf="auth.user$ | async as user; else login">
    <h3>Wirtschaftsraum: {{ user.name }}</h3>
    <button mat-button (click)="auth.logOut()" [mat-dialog-close]="true">Logout</button>
  </div>

  <ng-template #login>


      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password">
      </mat-form-field>


    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="auth.logIn(this.email, this.password)" [mat-dialog-close]="true">Login</button>
    </mat-dialog-actions>

  </ng-template>
</mat-dialog-content>
