<div class="wirtschaft">

  <mat-card *ngIf="allgemein$ | async as allgemein;">
    <mat-card-header>
      <mat-icon mat-card-avatar>map</mat-icon>
      <mat-card-title (click)="openBig(allgemein$, 'Allgemein')">Allgemein</mat-card-title>
      <mat-card-subtitle>{{raum | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{allgemein.bild}}">
    <mat-card-content>
      <p style="white-space: pre-wrap">
          {{allgemein.text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="openLink(allgemein.datei);"><mat-icon>launch</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="entstehung$ | async as entstehung;">
    <mat-card-header>
      <mat-icon mat-card-avatar>build</mat-icon>
      <mat-card-title (click)="openBig(entstehung$, 'Entstehung')">Entstehung</mat-card-title>
      <mat-card-subtitle>{{raum | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{entstehung.bild}}">
    <mat-card-content>
      <p style="white-space: pre-wrap">
        {{entstehung.text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="openLink(entstehung.datei);"><mat-icon>launch</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="infrastruktur$ | async as infrastruktur;">
    <mat-card-header >
      <mat-icon mat-card-avatar>commute</mat-icon>
      <mat-card-title (click)="openBig(infrastruktur$, 'Infrastruktur')">Infrastruktur</mat-card-title>
      <mat-card-subtitle>{{raum | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{infrastruktur.bild}}">
    <mat-card-content>
      <p style="white-space: pre-wrap">
        {{infrastruktur.text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="openLink(infrastruktur.datei);"><mat-icon>launch</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="unternehmen$ | async as unternehmen;">
    <mat-card-header>
      <mat-icon mat-card-avatar>business</mat-icon>
      <mat-card-title (click)="openBig(unternehmen$, 'Unternehmen und Beschäftigung')">Unternehmen und Beschäftigung</mat-card-title>
      <mat-card-subtitle>{{raum | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{unternehmen.bild}}">
    <mat-card-content>
      <p style="white-space: pre-wrap">
        {{unternehmen.text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="openLink(unternehmen.datei);"><mat-icon>launch</mat-icon></button>
    </mat-card-actions>
  </mat-card>

</div>
